.hiden {
    display: none;
}



/* Common start*/
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.header-logo .logo-part,
.nav-link,
.advantages-title-secondary,
.team-title,
.team-title-secondary,
.portfolio-title,
.portfolio-title-secondary {
    color: #2e2f42;
}
button {
    cursor: pointer;
}

img {
    display: block;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;        
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
    
}
/* Common :end */

/* Reset start */
ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

 /* Header start */
 .page-header {
     position: relative;
     border-bottom: 1px solid #e7e9fc;
     box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
 }

 .header-style {
     display: flex;
     align-items: center;
 }

 .header-nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }

 .logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
    
 }

 .header-logo {
     padding: 15px 0;
     
 }


 .nav-list {
     display: none;
} 
 .contacts {
    display: none;
 }

 .burger-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    background: transparent;
    cursor: pointer;
    border: none;
 }

 .burger-btn-icon {
    display: block;
    fill: #2f2f37;
 }
  @media  screen and (min-width: 768px) { 
    .burger-btn {
        display: none;
 }
 .header-style {
    justify-content: center;
 }

 .header-nav {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 .header-logo {
     padding: 24px 0;
     margin-right: 120px;

 }
 .nav-list {
     display: flex;
     align-items: center;
     gap: 40px;
 }

 .nav-link {
     position: relative;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     display: block;
     padding: 24px 0;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }



 .nav-link::after {
     content: "";
     position: absolute;
     width: 100%;
     height: 4px;
     left: 0px;
     bottom: -1px;
     background-color: #404bbf;
     border-radius: 2px;
     opacity: 0;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .nav-link:hover::after,
 .nav-link:focus::after,
 .nav-link.current::after {
     opacity: 1;

 }

 .nav-link:hover,
 .nav-link:focus,
 .contacts-link:hover,
 .contacts-link:focus,
 .nav-link.current {
     color: #404bbf;
 }

 .contacts {
    display: block;
    font-style: normal;
    margin-left: auto;
 }

 .contacts-list {
     display: flex;
     flex-direction: column;
     margin-left: auto;
     gap: 12px;
     }

 .contacts-link {
     line-height: 1.16;
     font-size: 12px;
     letter-spacing: 0.04em;
     color: #434455;
     display: block;
     padding: 0;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
 }
  }
  @media screen and (min-width: 1158px) {
.header-style {
    align-items: center;}

.header-logo {
    margin-right: 76px;
}

.contacts-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.contacts-link {
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    padding: 24px 0;

  }
}
 /* Header end */

 /* Mobile menu */
 @media screen and (min-width: 768px){
    .mobile-menu {
        display: none;
    }    
 }
 .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    padding-bottom: 40px;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
 .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
 }
 
.mobile-menu:not(.is-open) {
    transform: translate(-50%,-50) scale(1.5);
    
}

 .button-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    stroke-width: 1px;
    stroke: #2e2f42;
    background-color: #e7e9fc;
    border:1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .button-close-icon {

 }

 .mobile-menu-container {
padding: 72px 16px 48px;
display: flex;
flex-direction: column;
height: 100%;

 }

 .burger-menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    margin-bottom: auto;
}

.burger-menu-nav-item {
/* font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42; */
padding: 0;
 }

 .mobile-nav-link {font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
color: #2e2f42;

 }

.mobile-nav-link:hover,
.mobile-nav-link:focus
 {
    color: #404bbf;
}
.mobile-menu-contact-link:hover,
.mobile-menu-contact-link:focus{
color: #4d5ae5;
}

.mobile-menu-contact {
    margin-bottom: 48px;
 }

.mobile-menu-contact-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;

}
 .mobile-menu-contact-link {
    font-weight: 500;
    font-style: normal;
    line-height: 1.2;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-social-list {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.social-link-item {
    width: 40px;
    height: 40px;
    /* position: relative; */
   }
        
.social-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}

    .social-icon {
        /* position: absolute;
        top: 12px;
        left: 12px; */
        fill:#f4f4fd;
    }
 
    /* Hero-baner start */
.hero-baner {
    background-color: #2e2f42;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-1x.jpg);
    padding: 72px 0 ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 320px;
    margin: 0 auto;
}
    @media (min-resolution: 2x) {
     .hero-baner {
         background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-2x.jpg)
     }
 }
    
.hero-baner-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 216px;
    padding-bottom: 48px;
    margin: 0 auto;
}

.hero-baner-button,
.backdrop-submit-button {
    display: block;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em; 
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
    


.hero-baner-button:hover,
.hero-baner-button:focus,
.backdrop-submit-button:hover,
.backdrop-submit-button:focus
{
    background-color:  #404bbf;}

@media screen and (min-width: 768px) { 
.hero-baner {    
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1x.jpg);
        max-width: 1158px;
    }
@media (min-resolution: 2x) {
.hero-baner {
         background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
     }
        
    }
}
/* @media screen and (min-width: 1158px) { 
.hero-baner {    
        background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1x.jpg);
        max-width: 1158px; 
    }
@media (min-resolution: 2x) {
.hero-baner {
         background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-2x.jpg);
     }
        
    }
} */

/* Hero-baner finish */

/* Advantages start */
.advantages {
    padding: 96px 0;
}
.advantages-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;}

.advantages-list { 
    max-width: 288px;
    display: flex;
    flex-direction: column;  
    gap: 72px;

}
.advantages-item {
    
}
.advantages-item-svg {
    display: none;
}
.icon {
}
.advantages-title-secondary {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;

}
.advantages-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
@media screen and (min-width:768px) {
.advantages-list { 
    max-width: 100%;
    flex-direction: row;  
    flex-wrap: wrap;
    gap: 72px 24px;    
}
.advantages-item {
    flex-basis: calc((100% - 24px) / 2 );
}
}

@media screen and (min-width:1158px) {
.advantages {
        padding: 120px 0;
    }
.advantages-list { 
    max-width: 100%;
    flex-wrap: nowrap;
    gap: 24px;    
}
.advantages-item {
    width: calc((100% - 72px) / 4);}

    .advantages-item-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    padding: 24px 100px;
    margin-bottom: 8px;}

.advantages-title-secondary {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;}

.advantages-text {
font-weight: 400;
}

.advantages-item-svg .icon {
    width: 64px;
    height: 64px;
}
}
/* Advantages section end */

 /* Team start */

 .team {
    background-color: #f4f4fd;
    padding: 96px 0;}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
.team-list {
max-width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 72px;
}
.team-items {
    display: block;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
}
.team-img {
    margin-bottom: 32px;
}
.items-name { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.team-title-secondary {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
}
.team-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
}
.team-social-list {
display: flex;
justify-content: center;
gap: 24px;
}
.social-link-item {
}
.social-link {
}
.social-icon {
}
@media screen and (min-width:768px) {
.team-list {
max-width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 64px 24px;
    
    
}
}
@media screen and (min-width:1158px) {
    .team {
    padding: 120px;}
.team-list {
max-width: 100%;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: center;
align-items: center;
gap: 24px;    
}
}
  

/* Prtfolio start */
.portfolio {
    padding: 96px 0;
}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 72px;
}
.portfolio-list {
box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}

.portfolio-items {
margin-bottom: 48px;
     transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-items-text {
border-bottom: 1px solid #e7e9fc;
border-top: none;
border-left: 1px solid #e7e9fc;
border-right: 1px solid #e7e9fc;
padding: 32px 16px;
max-width: 288px;

}
.overlay { position: relative;
    overflow: hidden;
}

.overlay-text {    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        padding: 40px 32px;
        top: 0;
        background-color: #4d5ae5;
        position: absolute;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0,0.2, 1);
        width: 100%;
        height: 100%;
}

.portfolio-items:hover .overlay-text {
    transform: translateY(0%);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-items:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-title-secondary {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}
.portfolio-text {
   font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
@media screen and (min-width:768px) {
.portfolio-list {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 72px 24px;}

    .portfolio-items {
        width: calc((100% - 24px) / 2);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-items-text {
        max-width: 100%;
    }
}
@media screen and (min-width:1158px) {
 .portfolio-items {
        width: calc((100% - 48px) / 3);  } 
}
 /* Footer start */
 .footer {
    background-color:#2e2f42;
    padding: 96px 0;

 }

.footer-container {
    
}
.footer-container-logo {
}
.logo {

}
.footer-logo {
display: flex;
justify-content: center;
align-items: center;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
margin-bottom: 16px;
}
.logo-part {
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd;
}
.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
margin-bottom: 72px;

}
.footer-social-container {
    margin-bottom: 72px;
}
.footer-social-text {
text-align: center;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #fff;
margin-bottom: 16px;
}
.footer-social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list .social-link-item .social-link:hover,
.footer-social-list .social-link-item .social-link:focus
 {
    background-color: #31d0aa;}


.social-link-item {
}
.social-link {
}
.social-icon-footer {
    fill: #f4f4fd;;
}
.footer-form-wrap {
        display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    
}
.footer-form-text {
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    padding-right: 16px;
}
.footer-form {    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     

}
.footer-lable {
}
.footer-input-email { 
    width: 288px;
    height: 40px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
    margin-bottom: 16px;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                    borde-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input-email:hover, 
.footer-input-email:focus {
    border-color: #31d0aa;
 }

.footer-input-email:hover::placeholder ,
.footer-input-email:focus::placeholder{
color: #31d0aa;
}
.footer-button { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
border-radius: 4px;
padding: 8px 24px;
width: 165px;
height: 40px;
background-color: #4d5ae5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:focus,
.footer-button:hover {
    background-color: #31d0aa;
}
.footer-button-svg {
    fill: #fff;
}
@media screen and (min-width:768px) {
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        padding-left: 108px;
       
    }
.footer-form-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 24px; 
    
}
.footer-container-logo {
    max-width: 264px;
}
.footer-form-text {
    width: 100%;
    text-align: left;
    
}
.footer-social-text {
    text-align: left;
}
.footer-form {
    flex-direction: row;
    align-items:baseline;
    gap: 24px;
}

}
@media screen  and (min-width:1158px) {
    .footer {
        padding: 100px 0;
    }
.footer-container {
    flex-wrap: nowrap;
    align-items: baseline; 
    padding: 0;   
    }
    .footer-container-logo {
    margin-right: 120px;}

    .footer-text {
        margin-bottom: 16px;

    }
    .footer-input-email { 
    width: 264px;
    }
    .footer-form-wrap {
        gap: 16px;
    }
}

 /* Backdrop start */
 .backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0,0.2, 1),
               visibility  250ms cubic-bezier(0.4, 0,0.2, 1);
 }

 .backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
     }

.backdro:not(.is-open) .modal{
    transform: translate (-50%, -50%) scale(1.5);
}

.modal {
     position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;   
    padding: 72px 16px 24px 16px;
    background-color: #fcfcfc ;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 .backdrop-button-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px; 
    border-radius: 50%;
    stroke-width: 1px;    
    border:1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    background-color: #e7e9fc;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 
.backdrop-button-close:hover,
.backdrop-button-close:focus {
    background-color:#404bbf;
    border: none;   
}
.backdrope-icon-close {   
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-button-close:hover .backdrope-icon-close,
.backdrop-button-close:focus .backdrope-icon-close{
    fill: #fff;
}

.backdrop-text {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 16px;
}

.backdrop-input-wrap {
    margin-bottom: 8px;
}

.backdrop-lable {
display: block;
font-size: 12px;
line-height: 1.17;
letter-spacing: 0.04em;
color: #8e8f99;
margin-bottom: 4px;

}

.backdrop-input-wrap-icon {
position: relative;
margin-bottom: 8px;
}

.backdrop-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-input:hover,
.backdrop-input:focus {
    border-color:#4d5ae5;
}

.backdrop-input:hover + .backdrop-icon,
.backdrop-input:focus + .backdrop-icon {
    fill: #4d5ae5;
}

.backdrop-input-wrap-comment {
    margin-bottom: 16px;
}
.backdrop-input.comment {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    height: 120px;
    resize: none;
    padding: 8px 16px;
}

.backdrop-input.comment:hover,
.backdrop-input.comment:focus {
    border-color: #4d5ae5;
}

.custom-checkbox-wrap {
    margin-bottom: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border:0;
}


.backdrop-lable-privatpolicy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.custom-checkbox {
    width: 16px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
                border 250ms cubic-bezier(0.4, 0, 0.2, 1),
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
                flex-shrink: 0;
}

.backdrop-lable-privatpolicy {
    display: flex;
    align-items: center;

}

.visually-hidden:checked+.backdrop-lable-privatpolicy>.custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.backdrop-link {
    color: #4d5ae5;
}
@media screen and (min-width:768px) {

.modal {
    width: 408px;
    min-height: 584px;
}

.backdrop-input-wrap-icon {
    margin-bottom: 8px;
}
.backdrop-lable-privatpolicy {
    display: block;
}
}
